.events
{
  margin: 0 auto;
}

.mainCard
{
  width: 600px;
  background-color: green;
  margin-bottom: 20px;

}

.cardPicture
{
  float: left;
  vertical-align: middle;
}

.cardText
{
  text-align: left;
}

.cardLink
{
  float: right;
}
